.contacts {
    padding-top: 70px;
    padding-bottom: 70px;

    &__container {}

    &__title {
        font-size: 2.5rem;
        color: var(--white);
        text-align: center;
        margin-bottom: 50px;
    }

    &__managers {
        display: flex;
        margin-bottom: 50px;
        flex-wrap: wrap;
        --gap: 10px;
        --elements: 2;
        gap: var(--gap);

        @media (max-width: 1028px) {
            --elements: 1;
        }
    }

    &__manager {
        background-color: var(--white);
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 1px solid #ffffff;
        border-radius: 20px;
        padding: 30px;
        flex-wrap: wrap;
        width: calc((100% - (var(--elements) - 1) * var(--gap)) / (var(--elements)));
        min-height: 264px;

        @media(max-width: 1028px) {
            padding: 15px;
        }
    }

    &__post {
        font-size: clamp(1.5625rem, 1.4732rem + 0.4464vw, 1.875rem);
        font-weight: 700;
        color: var(--black);
        margin-bottom: 10px;

        &::first-letter {
            text-transform: uppercase;
        }
    }

    &__name {
        font-size: 1.875rem;
        color: var(--black);
        margin-bottom: 10px;
        text-transform: capitalize;
    }

    &__line {
        height: 2px;
        width: 100%;
        background-color: var(--light-black);
        margin-bottom: 10px;
    }

    &__phone,
    &__email {
        color: var(--red);
        text-decoration: none;
        font-size: clamp(1.25rem, 1.0714rem + 0.8929vw, 1.875rem);
        transition: color .2s ease;
        background: linear-gradient(currentColor 0 0) bottom /var(--d, 0) 3px no-repeat;
        transition: 0.5s;
    }

    &__phone:hover,
    &__email:hover {
        --d: 100%;
    }

    &__socials {
        padding: 30px 40px;
        border: 1px solid var(--white);
        border-radius: 20px;

        @media(max-width: 1028px) {
            padding: 15px;
        }
    }

    &__list {
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;

        @media(max-width: 1028px) {
            gap: 10px;
        }
    }

    &__list-item {}

    &__list-link {
        border-radius: 20px;
        display: flex;
        align-items: center;
        background-color: var(--light-black);
        padding: 14px;
        min-width: 250px;
        color: var(--white);
        gap: 20px;
        text-decoration: none;
        font-weight: 700;
        font-size: 1.5625rem;
        transition: color .2s ease;
    }

    &__list-link svg path {
        transition: stroke .2s ease, fill .2s ease;
    }

    &__list-link--vk:hover {
        color: rgb(70, 70, 255);
    }

    &__list-link--vk:hover svg path {
        stroke: #ffffff;
        fill: rgb(70, 70, 255);
    }

    &__list-link--instagram:hover {
        color: rgb(204, 81, 204);
    }

    &__list-link--instagram:hover svg path {
        stroke: #ffffff;
        fill: rgb(204, 81, 204);
    }

    &__list-link--youtube:hover {
        color: var(--red);
    }

    &__list-link--youtube:hover svg path {
        stroke: #ffffff;
        fill: var(--red);
    }

    &__list-link--telegram:hover {
        color: rgb(0, 162, 255);
    }

    &__list-link--telegram:hover svg path {
        stroke: #ffffff;
        fill: rgb(0, 162, 255);
    }
}