.hero {
    position: relative;
    background-image: url("./../images/src/hero/1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    z-index: 0;

    &__container {
        display: flex;
        justify-content: end;
        align-items: center;
        height: 100vh;
    }

    &__content {}

    &__title {
        color: #ffffff;
        font-size: clamp(1.25rem, 0.8929rem + 1.7857vw, 2.5rem);
        /* 40px */
        /* 48px */
        margin-bottom: 50px;
    }

    &__title--large {
        color: #ffffff;
        font-size: clamp(2.25rem, 0.6071rem + 8.2143vw, 8rem);
        /* 125px */
        /* 151px */
    }

    &__button {
        background-color: rgb(255, 112, 112);
        color: rgb(255, 255, 255);
        font-weight: 700;
        font-size: clamp(0.9375rem, 0.6696rem + 1.3393vw, 1.875rem);
        /* 30px */
        padding-inline: 37px;
        min-height: 90px;
        border: none;
        border-radius: 30px;
        cursor: pointer;
        transition: scale 0.2s ease-in;
    }

    &__button:hover {
        scale: 1.05;
    }

    &__button:active {
        scale: 0.9;
    }
}

// @media (max-width: 768px) {
//     .hero__button {
//         padding-inline: 27px;
//     }
// }