.nav {
    &__link {
        font-weight: 700;
        color: var(--white);
        font-size: clamp(1.25rem, 1.0714rem + 0.8929vw, 1.875rem); // min20px, max30px
        /* 30px */
        text-decoration: none;
    }
}