.nav {

    &__list {
        display: flex;
        gap: 36px;
    }

    &__item {}

    &__link {
        color: #ffffff;
        font-size: 1.875rem;
        /* 30px */
        font-weight: 700;
        text-decoration: none;
        background: linear-gradient(currentColor 0 0) bottom /var(--d, 0) 3px no-repeat;
        transition: 0.5s;
    }

    &__link:hover {
        --d: 100%;
    }
}