.news {
    padding-top: 100px;
    padding-bottom: 100px;

    &__container {
        display: flex;
        flex-direction: column;
        gap: 140px;
    }

    &__cards {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        --gap: 20px;
        --elements: 3;
        gap: var(--gap);

        @media(max-width: 1028px) {
            --elements: 2;
        }

        @media(max-width: 768px) {
            --gap: 10px;
            --elements: 1;
        }
    }

    &__card {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 15px 30px;
        border-radius: 20px;
        position: relative;
        background-color: var(--white);
        width: calc((100% - (var(--elements) - 1) * var(--gap)) / (var(--elements)));
        min-height: 431px;
        transition: scale .2s ease-in, box-shadow .2s ease-in;

        @media(max-width: 768px) {
            padding: 5px 15px;
        }
    }

    &__card:hover {
        box-shadow: 10px -10px 5px 0px rgba(224, 224, 224, 0.75);
        -webkit-box-shadow: 10px -10px 5px 0px rgba(224, 224, 224, 0.75);
        -moz-box-shadow: 10px -10px 5px 0px rgba(224, 224, 224, 0.75);
    }

    &__card:active {
        scale: 0.9;
    }

    &__card-line {
        width: 100%;
        height: 3px;
        background-color: var(--red);
    }

    &__date {
        font-weight: 400;
        font-size: 1rem;
        /* 20px */
    }

    &__image {
        border-radius: 10px;
        max-width: 100%;
        height: auto;
    }

    &__link {
        font-size: 1rem;
        /* 16px */
        font-weight: 700;
        text-decoration: none;
        text-transform: uppercase;
        color: var(--black);
    }

    &__link::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &__description {
        font-size: .75rem;
        font-weight: 400;
        color: var(--light-black);
        /* 16px */
    }

    &__card-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__card-themes {
        color: var(--black);
        text-decoration: none;

        :hover {
            color: var(--red);
        }
    }
}