.page-hero {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 630px;

    &__container {}

    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 630px;
        flex-direction: column;
    }

    &__content--concerts {}

    &__title {
        font-family: var(--second-family);
        font-size: clamp(3.125rem, 1.7321rem + 6.9643vw, 8rem);
        /* 128px */
        font-weight: 700;
        color: var(--white);
        text-align: center;
    }

    &__title--concerts {
        margin-bottom: 83px;
    }

    &--concerts {
        background-image: url("./../images/src/page-concerts/concerts-bg.webp");
    }

    &--news {
        background-image: url("./../images/src/page-news/news-bg.png");
    }

    &--contacts {
        background-image: url("./../images/src/page-contacts/contacts-bg.png");
    }

    &--photo {
        background-image: url("./../images/src/page-photo/photo-bg.png");
    }

    &__buttons {
        position: relative;
    }

    &__button {
        position: absolute;
        border-radius: 20px;
        height: 100px;
        border: none;
        font-size: clamp(0.75rem, 0.6071rem + 0.7143vw, 1.25rem);
        /* 20px */
        font-weight: 700;
        padding-inline: 40px;
        cursor: pointer;

        @media(max-width: 768px) {
            padding-inline: 30px;
            height: 70px;
        }
    }

    &__button--white {
        left: -50%;
        background-color: var(--white);
        color: var(--black);
    }

    &__button--black {
        right: 50%;
        color: var(--white);
        background-color: var(--light-black);
    }
}