:root {
  //container
  --container-max-width: 1090px;
  --container-padding-inline: 15px;
  // fonts
  --font-family: "Inter", sans-serif;
  --second-family: "Istok Web", sans-serif;

  --white: #ffffff;
  --black: #000000;
  --light-black: #383232;
  --red: #D00000;
  --light-yellow: #F7F6E7;
}